<?xml version="1.0" encoding="utf-8"?>
<!--~
  ~ Copyright (c) SkyBooking Co,. Ltd
  ~ SkyOwner
  ~ Created by Khunchheang on  18/1/2020.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.domrey.resourcesmodule">

   <uses-permission android:name="android.permission.INTERNET"/>
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
   <uses-permission android:name="android.permission.WAKE_LOCK"/>

   <application
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

      <!--Auto complete OTP coe-->
      <receiver
         android:name="com.domrey.resourcesmodule.helpers.SMSBroadcastReceiver"
         android:exported="true"
         android:permission="SMSReceiver">
         <intent-filter>
            <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />
         </intent-filter>
      </receiver>

   </application>

</manifest>